<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
    <title>Foodfy</title>
  {% endblock head %}
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo-header">
        <a href="/"><img src="/images/logo.png" alt="FOODFY"></a>
      </div>

      <div class="links-menu">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
      </div>
    </header>

    {% block content %}
    {% endblock content %}
  </div>

  <footer>
    <p>Todos direitos reservados, receitas Foodfy</p>
  </footer>

  <script src="/js/scripts.js"></script>
</body>
</html>