{% extends 'layout.njk' %}

{% block content %}
<section class='recipe-selected'>
  <div class="wrapper-content">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
    <h1>{{recipe.title}}</h1>
    <p>{{recipe.author}}</p>
  </div>

  <div class="ingredients recipe-hidden">
    <div class="title-container">
      <span class='title-span'>Ingredients</span>
      <span class='button-hidden'>ESCONDER</span>
    </div>

    <div class="info-ingredients content-hidden">
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="mode-preparation recipe-hidden">
    <div class="title-container">
      <span class='title-span'>Modo de preparo</span>
      <span class='button-hidden'>MOSTRAR</span>
    </div>

    <div class="info-mode-preparation content-hidden">
      <ol>
        {% for preparation in recipe.preparation %}
          <li>{{preparation}}</li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="info-additional recipe-hidden">
    <div class="title-container">
      <span class='title-span'>Modo de preparo</span>
      <span class='button-hidden'>ESCONDER</span>
    </div>

    <div class="info-additional-content content-hidden">
      <p>
        {{recipe.information}}
      </p>
    </div>
  </div>
</section>
{% endblock content %}