{% extends 'layouts/admin.njk' %}

{% block head %}
    <title>Foodfy | Administrador - Gerenciamento de receitas</title>
{% endblock head %}

{% block content %}
  <div class="list-recipe">
    <h1>Gerenciar receitas</h1>

    <div class="grid-recipes">
      {% for recipe in recipes %}
        <div class="card-recipe">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
          
          <div class="card-info">
            <h2>{{recipe.title}}</h2>
            <p>por {{recipe.chef_name}}</p>
            <span><a href="/admin/recipes/{{recipe.id}}">Visualizar</a></span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}