{% extends 'layouts/admin.njk' %}

{% block head %}
    <title>Foodfy | Administrador - Receita: {{recipe.title}}</title>
{% endblock head %}

{% block content %}
  <div class="recipe-title">
    <h1>Receita: {{recipe.title}}</h1>
    <a href="/admin/recipes/{{recipe.id}}/edit"><button>Editar receita</button></a>
  </div>

   <div class="recipe-content">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
    <h1>{{recipe.title}}</h1>
    <p>por {{recipe.author}}</p>
  </div>

  <div class="recipe-wrapper">
    <h2>Ingredientes</h2>
    <div class="recipe-wrapper-content">
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>- {{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="recipe-wrapper">
    <h2>Modo de preparo</h2>
    <div class="recipe-wrapper-content hidden-active">
      <ul>
        {% for preparation in recipe.preparation %}
          <li>- {{preparation}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="recipe-wrapper">
    <h2>informações adicionais</h2>
    <div class="recipe-wrapper-content">
      {% if recipe.information == '' %}
        <p>Não há informações</p>
      {% else %}
        <p>{{recipe.information}}</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}